<header>
	<nav class="navbar navbar-expand-lg navbar-light text-light py-3 main-nav" [ngClass]="{'activeHome' : state && isHome, 'active' : !isHome}">
		<div class="container">
			<a class="navbar-brand" [routerLink]="''">
				<img src="assets/img/logo.png" alt="Logo">
			</a>

			<div class="navbar" id="menu">
				<ul class="navbar-nav ml-auto">

					<li class="nav-item">
						<a class="user-admin" (click)="open(content)">
							<img src="assets/img/moss.jpg" alt="">
							<div class="heart" [ngClass]="{'active' : hasFav}">
								<span class="mdi mdi-heart fav"></span>
							</div>
						</a>
					</li>
				</ul>
			</div>
		</div>
	</nav>
</header>

<ng-template #content let-modal>
	<div class="modal-header">
		<h5 class="modal-title" id="modal-header">Favourites Policies</h5>
		<button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
			<span aria-hidden="true">&times;</span>
		</button>
	</div>
	<div class="modal-body">
		<app-favourites></app-favourites>
	</div>
</ng-template>