@import "src/theme/variables.scss";

.main-nav {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 99;
	transition: all 0.2s ease;

	&.active,
	&.activeHome {
		background-color: $gray-900;
	}
}

.main-nav-scrolled {
	background-color: rgba(0, 0, 0, 0.4);
}

.user-admin {
	position: relative;
	cursor: pointer;

	img {
		width: 30px;
		border-radius: 30px;
		border: 2px solid rgba(255, 255, 255, 0.4);
	}

	.heart {
		position: absolute;
		top: -18px;
		right: -10px;

		.fav {
			font-size: 16px;
		}

		&.active {
			animation-name: pulse;
			animation-duration: 4s;
			animation-iteration-count: infinite;

			.fav {
				color: $red;
			}
		}
	}
}

.navbar-light .navbar-nav .nav-link {
	color: #fff;
}

.modal-header {
	.modal-title {
		line-height: 1;
	}

	.close {
		color: #fff;
		background-color: #ffc713;
		border-color: #ffc713;
	}
}