<div>
	<ul>
		<li class="title">Insurance's kinds</li>
		<li *ngFor="let filter of filtersToShow.kind;" [ngClass]="{'active' : exist('kind',filter)}">
			<a (click)="toggleFilter('kind',filter)" class="filter_link" [ngClass]="'color_' + filter.toLowerCase()"> {{ filter }} </a>
		</li>
	</ul>
</div>

<div>
	<ul>
		<li class="title">Our partners</li>
		<li *ngFor="let filter of filtersToShow.brand;" [ngClass]="{'active' : exist('brand',filter)}">
			<a (click)="toggleFilter('brand',filter)" class="filter_link"> {{ filter }} </a>
		</li>
	</ul>

</div>

<a class="clean-filters" (click)="cleanFilters()">Clean the filters</a>