@import "src/theme/variables.scss";

li {
	&.title {
		font-size: 14px;
		padding: 4px 0;
	}

	&.active {
		.filter_link {
			border-right-width: 8px;
			font-weight: bold;
			padding: 8px 4px;
		}
	}
}

.filter_link {
	display: block;
	cursor: pointer;
	padding: 4px;
	margin-bottom: 4px;
	background-color: $white;
	transition: all 0.3s ease;

	&.color_viaje {
		border-right: 4px solid $purple;
	}

	&.color_hogar {
		border-right: 4px solid $blue;
	}

	&.color_vida {
		border-right: 4px solid $indigo;
	}

	&.color_cybersecurity {
		border-right: 4px solid $orange;
	}

	&.color_coche {
		border-right: 4px solid $yellow;
	}

	&.color_salud {
		border-right: 4px solid $red;
	}

	&.color_trabajo {
		border-right: 4px solid $green;
	}

	&:hover {
		border-right-width: 8px;
	}
}

a.clean-filters {
	cursor: pointer;
	color: $primary;
}