<div class="table-responsive" *ngIf="!loading">
	<table *ngIf="productList.length > 0">
		<tbody>
			<tr *ngFor="let product of productList">
				<td>
					<img class="brand_img" src="assets/img/{{ product.brandImage }}" style="width: 40px;" alt="{{ product.brand }} logo">
				</td>
				<td>
					{{ product.kind }}
				</td>
				<td>
					{{ product.name }}
				</td>
				<td>
					{{ product.price }} €
				</td>
				<td>
					<a (click)="delFavorito(product.id)" class="btn btn-small btn-danger">
						<span class="mdi mdi-cancel"></span>
					</a>
				</td>
			</tr>
		</tbody>
	</table>
	<div *ngIf="productList.length == 0">
		<span>No favorites Policies</span>
	</div>
</div>
<app-loading *ngIf="loading"></app-loading>