<footer>
	<div class="container">
		<div class="row">
			<div class="col-md-6">
				<h5>
					<img src="assets/img/logo.png" alt="Logo">
				</h5>
				Insurances Manager develop by Edu Alfaro.

			</div>
			<div class="col-md-6">
				<h5>
					Resources
				</h5>
				<ul>
					<li>
						<a href="http://edualfaro.com/lifelock">live deployed</a>
					</li>
					<li>
						<a href="https://bitbucket.org/edualfio/lifelock">repository</a>
					</li>
				</ul>
			</div>
		</div>
	</div>

</footer>