<div class="loading">
	<svg width="200px" height="200px" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100" preserveAspectRatio="xMidYMid" class="lds-rolling" style="background: rgba(0, 0, 0, 0) none repeat scroll 0% 0%;">
		<circle cx="50" cy="50" fill="none" stroke="#00986a" stroke-width="2" r="10" stroke-dasharray="47.12388980384689 17.707963267948966">
			<animateTransform attributeName="transform" type="rotate" calcMode="linear" values="0 50 50;360 50 50" keyTimes="0;1" dur="1s" begin="0s" repeatCount="indefinite"></animateTransform>
		</circle>
	</svg>
</div>