@import "src/theme/variables.scss";

.wrapper-input {
	input.form-control {
		display: inline-block;
		width: 300px;
		padding: 20px;
		background-color: $transwhite;
		border-radius: 0;
		color: #000;
		font-family: "Source Sans Pro", sans-serif;
		font-size: 24px;
		transition: all 0.5s ease;

		&:focus {
			border-color: #fff;
			box-shadow: none;
		}

		&::placeholder {
			color: #000;
		}
	}

	.btn-search {
		display: inline-block;
		font-size: 24px;
		color: #fff;
		background-color: $secondary;
		border-color: $secondary;
		border-radius: 0;
	}
}