<div class="wrapper-input input-group mb-3" *ngIf="!loading">
	<input type="text" class="form-control" placeholder="Select a category" [ngbTypeahead]="search" (focus)="focus$.next($event.target.value)" (click)="click$.next($event.target.value)" [(ngModel)]="filters.kind" #instance="ngbTypeahead">
	<div class="input-group-append">
		<button class="btn btn-search" type="button" (click)="performSearch()">
			<span class="mdi mdi-magnify"></span>
		</button>
	</div>
</div>

<div class="wrapper-input input-group mb-3" *ngIf="loading">
	<span class="mdi mdi-loading mdi-spin"></span>
</div>