@import "src/theme/variables.scss";

li:hover {
	box-shadow: 0 0 5px -3px rgba(0,0,0,0.75);
}

.brand_img {
	width: 60px;
}

.wrap-img {
	padding: 10px;
}

.item {
	position: relative;
	background-color: $white;
	margin-bottom: 20px;
	min-height: 40px;
}

.name {
	padding: 20px 0;
	border-top-width: 4px;
	border-top-style: solid;
	@media (max-width: 539px) {
		padding: 4px 0;
		border-top-width: 0;
	}

	&.color_viaje {
		border-top-color: $purple;
	}

	&.color_hogar {
		border-top-color: $blue;
	}

	&.color_vida {
		border-top-color: $indigo;
	}

	&.color_cybersecurity {
		border-top-color: $orange;
	}

	&.color_coche {
		border-top-color: $yellow;
	}

	&.color_salud {
		border-top-color: $red;
	}

	&.color_trabajo {
		border-top-color: $green;
	}
}

.fav-trigger {
	cursor: pointer;
	transition: all 0.2s ease;

	&:active {
		transform: translateY(-5px);
		opacity: 0;
	}

	&:hover {
		color: $red;
	}

	.mdi {
		font-size: 20px;
	}
}

.wrap-price {
	display: flex;
	flex-direction: column !important;
	justify-content: center !important;
	align-items: center !important;
	width: 100%;

	.price {
		position: relative;
		font-size: 24px;
		font-family: "Work Sans", sans-serif;
		color: $gray-800;
	}
}

.center-all {
	display: flex;
	flex-direction: column !important;
	justify-content: center !important;
	align-items: center !important;
}