<li>
	<div class="item">
		<div class="row">
			<div class="wrap-img col-sm-3 text-center">
				<img class="brand_img" src="assets/img/{{ product.brandImage }}" alt="{{ product.brand }} logo">
			</div>
			<div class="col-sm-2 center-all text-center">
				<div class="wrap-price">
					<div class="price text-center">
						{{ product.price }} <small>€</small>
					</div>
				</div>
			</div>
			<div class="col-sm-4 center-all name" [ngClass]="'color_' + product.kind.toLowerCase()">
				{{ product.kind }} insurance
				<h4>{{ product.name }}</h4>
			</div>
			<div class="col-sm-1 center-all fav-trigger">
				<a (click)="addFavorito(product.id)" *ngIf="!isInFav">
					<span class="mdi mdi-heart"></span>
				</a>
				<a (click)="delFavorito(product.id)" *ngIf="isInFav">
					<span class="mdi mdi-cancel"></span>
				</a>
			</div>
			<div class="col-sm-2 center-all">
				<a [routerLink]="" class="btn btn-primary">know more</a>

			</div>
		</div>
	</div>
</li>