<section class="list">
	<div class="container">
		<div class="row">

			<div class="col-md-3">
				<button type="button" (click)="filtersAreCollapsed = !filtersAreCollapsed" [attr.aria-expanded]="!filtersAreCollapsed" aria-controls="collapseExample" class="d-block d-md-none btn btn-primary btn-block mb-3">Show Filters</button>
				<div id="filters" class="collapse d-md-block" [ngbCollapse]="filtersAreCollapsed">
					<app-filters (changeFilter)="eventFromChild($event)"></app-filters>
				</div>
			</div>

			<div class="col-md-9">
				<div class="list-content" *ngIf="!loading">
					<div class="sort">
						<ul>
							<li [ngClass]="{ 'active' : sort == 'brand' }">
								<span class="titleOrder">Sort by Brands</span>
								<a (click)="sortBy('brand','desc')"><span class="mdi mdi-chevron-down"></span></a>
								<a (click)="sortBy('brand','asc')"><span class="mdi mdi-chevron-up"></span></a>
							</li>
							<li [ngClass]="{ 'active' : sort == 'kind' }">
								<span class="titleOrder">Sort by Kind</span>
								<a (click)="sortBy('kind','desc')"><span class="mdi mdi-chevron-down"></span></a>
								<a (click)="sortBy('kind','asc')"><span class="mdi mdi-chevron-up"></span></a>
							</li>
							<li [ngClass]="{ 'active' : sort == 'price' }">
								<span class="titleOrder">Sort by Price</span>
								<a (click)="sortBy('price','desc')"><span class="mdi mdi-chevron-down"></span></a>
								<a (click)="sortBy('price','asc')"><span class="mdi mdi-chevron-up"></span></a>
							</li>
							<li [ngClass]="{ 'active' : sort == 'name' }">
								<span class="titleOrder">Sort by Name</span>
								<a (click)="sortBy('name','desc')"><span class="mdi mdi-chevron-down"></span></a>
								<a (click)="sortBy('name','asc')"><span class="mdi mdi-chevron-up"></span></a>
							</li>
						</ul>
						<h4> Your results for <strong>{{filters.kind}} </strong> <em *ngIf="filters.kind && filters.brand ">&</em> <strong> {{filters.brand}}</strong> </h4>
					</div>

					<ul *ngIf="productList.length > 0">
						<app-product-item *ngFor="let product of productList;" [product]="product"></app-product-item>
					</ul>

					<div *ngIf="totalProducts == 0">
						<span>There are no results with the selected search criteria</span>
					</div>


					<div class="pagination" *ngIf="totalProducts > productPerPage">
						<button (click)="onPrev()" [disabled]="page === 0 || loading" class="btn btn-secondary">Previous</button>
						<button *ngFor="let page of pages">{{totalPages}}</button>
						<button (click)="onNext()" [disabled]="page === (totalPages - 1) || loading" class="btn btn-secondary">Next</button>
					</div>
				</div>

				<div *ngIf="loading">
					<app-loading></app-loading>
				</div>
			</div>
		</div>
	</div>
</section>