@import "src/theme/variables.scss";

.header-list {
	margin-top: 100px;
	display: flex;
	flex-direction: column !important;
	justify-content: center !important;
	align-items: center !important;
	position: relative;
	min-height: 30vh;
	background-color: secondary;
	background-position: center;
	background-size: cover;
}

.list {
	padding: 120px 20px 20px;
	background-color: $gray-300;
	min-height: 90vh;

	.sort {
		padding: 4px;

		ul {
			display: flex;
			align-items: stretch;
		}

		li {
			// float: left;
			background-color: $white;
			border-right-width: 8px;
			font-weight: bold;
			padding: 4px;
			margin-right: 4px;

			.titleOrder {
				display: block;
			}

			a {
				cursor: pointer;
				padding: 2px;

				&:hover {
					color: $black;
				}
			}

			&.active {
				border-bottom: 2px solid $gray-800;
			}
		}
	}
}