<section class="panoplie">
	<div class="welcome">
		<h1 class="autotext">find the fitting insurance for you!</h1>
	</div>
	<app-search-bar></app-search-bar>
	<div class="d-block">
		<a class="" [routerLink]="['list']">or Take a look of all our insurances</a>
	</div>
</section>
<section class="info">
	<div class="container">
		<div class="row">
			<div class="img_claim col-sm-5 ">
				<img class="img-fluid" src="assets/img/banner.png" alt="">
			</div>
			<div class="info_claim col-sm-7">
				<hr class="separator">
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Expedita aut nisi amet voluptas! Rem ratione, eos voluptate quos cupiditate temporibus laboriosam rerum iusto quibusdam veniam sint non optio est, alias, sed Commodi natus totam amet
					adipisci expedita! Non.</p>
			</div>
		</div>
	</div>
</section>
<section class="brands">
	<div class="container">


		<h2>Meet our partners</h2>
		<hr class="separator">
		<div class="row">
			<div class="col-sm-2dot4">
				<img class="brand img-fluid" src="assets/img/brand_axa_g.png" alt="">
			</div>
			<div class="col-sm-2dot4">
				<img class="brand img-fluid" src="assets/img/brand_generali_g.png" alt="">
			</div>
			<div class="col-sm-2dot4">
				<img class="brand img-fluid" src="assets/img/brand_liberty_g.png" alt="">
			</div>
			<div class="col-sm-2dot4">
				<img class="brand img-fluid" src="assets/img/brand_mapfre_g.png" alt="">
			</div>
			<div class="col-sm-2dot4">
				<img class="brand img-fluid" src="assets/img/brand_zurich_g.png" alt="">
			</div>
		</div>
	</div>
</section>