@import "src/theme/variables.scss";

.panoplie {
	display: flex;
	flex-direction: column !important;
	justify-content: center !important;
	align-items: center !important;
	position: relative;
	min-height: 90vh;
	background-image: url("/assets/img/bg.jpg");
	background-position: center;
	background-size: cover;
	background-attachment: fixed;
}

.welcome {
	padding: 20px;

	h1 {
		font-family: "Work Sans", sans-serif;
		font-size: 40px;
		color: #fff;
		@media (min-width: 540px) {
			&.autotext {
				overflow: hidden;
				white-space: nowrap;
				margin: 0 auto;
				animation: typing 2.5s steps(40, end);
			}
		}
	}
}

.info {
	.img_claim {
		padding: 40px;
	}

	.info_claim {
		font-size: 24px;
		font-family: "Source Sans Pro", sans-serif;
		padding: 40px;
	}
}

.brands {
	padding: 40px;
	text-align: center;

	h2 {
		font-family: "Work Sans", sans-serif;
		margin: 20px;
	}
}

.separator {
	margin: 0 auto 40px;
	width: 80px;
	height: 4px;
	background-image: linear-gradient(50deg, $primary, $danger) !important;
}