@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro");
@import url("https://fonts.googleapis.com/css?family=Work+Sans:600");

body {
  font-family: "Source Sans Pro", sans-serif;
}

// Reset list styles

ul,
li {
  padding: 0;
  margin: 0;
  list-style: none;
}

// Variables

@import "theme/_variables.scss";
@import "node_modules/bootstrap/scss/bootstrap.scss";
@import "theme/_extra.scss";
